/* Vincent Goh */

@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.delay-0x5{
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.delay-0x8{
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.delay-1x0{
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}


@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

@-moz-keyframes hue {
  from {
    -moz-filter: hue-rotate(0deg);
  }

  to {
    -moz-filter: hue-rotate(-360deg);
  }
}

@-ms-keyframes hue {
  from {
    -ms-filter: hue-rotate(0deg);
  }

  to {
    -ms-filter: hue-rotate(-360deg);
  }
}

@-o-keyframes hue {
  from {
    -o-filter: hue-rotate(0deg);
  }

  to {
    -o-filter: hue-rotate(-360deg);
  }
}


@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(-360deg);
  }
}



#uiux_colorChange{
  font-weight: bold;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  -ms-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;

  -webkit-animation: hue 30s infinite linear;
  -moz-animation: hue 30s infinite linear;
  -ms-animation: hue 30s infinite linear;
  -o-animation: hue 30s infinite linear;
  animation: hue 30s infinite linear;
}






@-webkit-keyframes intro {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes intro {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-ms-keyframes intro {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes intro {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


@keyframes intro {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


.intro{
  height: 100%;
  width: 100%;
  margin: auto;
  background: url(../images/mountainTop.jpg) no-repeat 50% 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  display: table;
  top: 0;
  background-size: cover;

  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  animation: fadeIn ease 3s;
}


.intro:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(161, 216, 228, 0);

  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.intro .inner{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
  position: relative;
  top: 9%;
}

.content{
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 25%;
}



#intro_name{
  font-family: 'Yantramanav', san-serif !important;
  font-size: 600% !important;
  color: white !important;
  line-height: 60%;
}

#intro_title{
  font-family: 'Montserrat', san-serfic !important;
  font-size: 150%;
  font-weight: 400;
  color: white;
}

#intro_bottomLine{
  border-bottom: solid white 1px;
  text-align: center;
  width: 60%;
  margin-left: 20%;
}



p{
  font-size: 150%;
  line-height: 120%;
  font-family: san-serif;
}


/* Navbar */
.navbar.is-transparent {
  background-color: transparent;
  background-image: none;
}

#navbar_logo{
  font-size: 200%;
  padding: 5px 15px;
  color: white;
}

.navbar-item > a{
  font-size: 150%;
  padding: 5px 15px;
  color: white;
}




/* Bio */
.center-bio{
  position: relative;
  bottom: 15%;
}

#bio_div{
  color: white;
  background-color: #333333;
}



/* -- Media Queries -- */
@media screen and (max-width: 900px){
  .content{
    padding-bottom: 10%;
  }
  #intro_name{
    font-size: 450% !important;
  }
  #intro_title{
    font-size: 150%;
    padding: 9px 17px;
  }
}
@media screen and (max-width: 768px){
  .content{
    padding-bottom: 20%;
  }
  #intro_name{
    font-size: 300% !important;
  }
  #intro_title{
    font-size: 150%;
    padding: 7px 15px;
  }
  p{
    font-size: 120%;
    line-height: 100%;
  }
}
@media screen and (max-width: 480px){
  .content{
    padding-bottom: 30%;
  }
  #intro_name{
    font-size: 250% !important;
  }
  #intro_title{
    font-size: 110%;
    padding: 6px 14px;
  }
  p{
    font-size: 100%;
    line-height: 100%;
  }
}
